<div class="heading">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-icon color="light" (click)="dismiss()" name="close"></ion-icon>
  </ion-fab>
</div>

<ion-content>
  <div class="content">
    <div class="main-cover">
      <div class="search-section">
        <div class="faq-heading">

          <ion-title>FAQ's</ion-title>
        </div>
        <div class="search">


          
           <ion-searchbar showCancelButton="focus" placeholder="ask a question" cancelButtonText="Custom Cancel"></ion-searchbar> 
        </div>
      </div>
      <div class="orders">

        <div class="row">
          <div class="col">
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1">Orders and Shipments</label>
                <div class="tab-content">

                  <div class="tab">
                    <input type="checkbox" id="chck6">
                    <label class="question tab-label" for="chck6">{{firstQues.question1}}</label>
                    <div class="tab-content section">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{firstQues.answer1 }}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>
                  <div class="tab">
                    <input type="checkbox" id="chck7">
                    <label class="question tab-label" for="chck7">{{SecondQues.question2}}</label>
                    <div class="tab-content section ">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{SecondQues.answer2}}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>



                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label" for="chck2">Returns</label>
                <div class="tab-content">

                  <div class="tab">
                    <input type="checkbox" id="chck9">
                    <label class="question tab-label" for="chck9">{{returnQues.question1}}</label>
                    <div class="tab-content section">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{returnQues.answer1 }}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>
                  <div class="tab">
                    <input type="checkbox" id="chck10">
                    <label class="question tab-label" for="chck10">{{returns1Ques.question2}}</label>
                    <div class="tab-content section ">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{returns1Ques.answer2}}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>



                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck3">
                <label class="tab-label" for="chck3">Refunds</label>
                <div class="tab-content">

                  <div class="tab">
                    <input type="checkbox" id="chck11">
                    <label class="question tab-label" for="chck11">{{refundQues.question1}}</label>
                    <div class="tab-content section">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{refundQues.answer1 }}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>
                  <div class="tab">
                    <input type="checkbox" id="chck12">
                    <label class="question tab-label" for="chck12">{{refunds1Ques.question2}}</label>
                    <div class="tab-content section ">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{refunds1Ques.answer2}}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>



                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck4">
                <label class="tab-label" for="chck4">Technical</label>
                <div class="tab-content">

                  <div class="tab">
                    <input type="checkbox" id="chck13">
                    <label class="question tab-label" for="chck13">{{technicalQues.question1}}</label>
                    <div class="tab-content section">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{technicalQues.answer1 }}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>
                  <div class="tab">
                    <input type="checkbox" id="chck14">
                    <label class="question tab-label" for="chck14">{{technical1Ques.question2}}</label>
                    <div class="tab-content section ">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{technical1Ques.answer2}}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</ion-content>
