<div class="heading">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-icon color="light" (click)="dismiss()" name="close"></ion-icon>
  </ion-fab>
</div>

<ion-content>
  <div class="content">
    <div class="main-cover">
      <div class="search-section">
        <div class="faq-heading">

          <h1>FAQs</h1>
        </div>
        <div class="search">
          <ion-searchbar id="query"  [(ngModel)]="mySearch" showCancelButton="focus" placeholder="ask a question"  (ionChange)="searchresult($event)" 
           cancelButtonText="Custom Cancel"></ion-searchbar> 
           <!-- <div class="searchList" > -->
                   <div id="QAAnswer" [hidden]="val == ''"  *ngFor="let items of searchArray; let i = index">
            <div id="QAAnswers-answered"  *ngFor="let items of searchArray; let i = index">
                <div >
                    <ion-item class="quation" >{{items.question1}}</ion-item>
                    <i id="answer-description">{{items.answer}} </i>
                </div>
            </div>
        </div>
           <!-- </div> -->
     
        </div>
      </div>
      <div class="orders">

        <div class="row">
          <div class="col">
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1">Orders and Shipments</label>
                <div class="tab-content" >

                  <div class="tab" *ngFor= "let o of ordershipment">
                    <input type="checkbox" id="chck6">
                    <label class="question tab-label" for="chck6">{{o.question1}}</label>
                    <div class="tab-content section">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{o.answer }}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>

                    </div>
                  </div>
                
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label" for="chck2">Returns</label>
                <div class="tab-content">

                  <div class="tab" *ngFor= "let r of Return">
                    <input type="checkbox" id="chck9">
                    <label class="question tab-label" for="chck9">{{r.question1}}</label>
                    <div class="tab-content section">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >
                          {{r.answer }}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>
                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">
                        </div>
                      </div>




                    </div>
                  </div>
                  



                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck3">
                <label class="tab-label" for="chck3">Refunds</label>
                <div class="tab-content">

                  <div class="tab" *ngFor= "let f of Refund">
                    <input type="checkbox" id="chck11">
                    <label class="question tab-label" for="chck11">{{f.question1}}</label>
                    <div class="tab-content section">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{f.answer }}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>
                 



                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck4">
                <label class="tab-label" for="chck4">Technical</label>
                <div class="tab-content">

                  <div class="tab" *ngFor= "let t of Technical">
                    <input type="checkbox" id="chck13">
                    <label class="question tab-label" for="chck13">{{t.question1}}</label>
                    <div class="tab-content section">
                      <ion-label>Answers</ion-label>
                      <div class="answer-section">
                        <div class="answer-question" >{{t.answer }}
                        </div>
                        <div class="line" >
                          <div class="small-line" ></div>

                        </div>
                        <div class="icon" >
                          <img src="../../../assets/globe_bulb_240px.png" alt="">

                        </div>
                      </div>




                    </div>
                  </div>
                 



                </div>
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</ion-content>