.buttons{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-between;
    // border: solid red;
    width: 100%; 
       margin-top: 10px;
}
.buttons > ion-button {

    width: 30%;
    margin: 0 auto;
}
.item{
    // margin-top: 16px;
    width: 100%;
}
ion-label{
    text-align: center;
    padding-bottom: 16px;
}