<body class="container">
  <div class="content ">
    <div class="row">
      <div class=" sidebar1  ">
        <div class="logo">
          <img src="../../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="80" height="80" >
        </div>
        <br>
        <div class="left-navigation">
          <div class="list">

            <ion-button expand="clear" color="light" (click)="openPro()" slot="end">Home</ion-button>
            <br>
            <!-- <ion-button expand="clear" color="light" (click)="openProfile()" slot="end">Profile</ion-button>
            <ion-button expand="clear" color="light" (click)="openUploads()" slot="end">Add Product</ion-button> -->
            <ion-button expand="clear" color="light" (click)="openInvoice()" slot="end">Invoices</ion-button>
            <br>
            <ion-button expand="clear" color="light" (click)="logOut()" slot="end">Logout</ion-button>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="navigation_bar">
            <!-- <div class="searchbar">
                <ion-searchbar  *ngIf="isSearchbarOpened" showCancelButton="true" (ionFocus)="displaySearch()" (ionClear)="removeSearchList()" (ionClear)="resetChanges()" (ionCancel)='isSearchbarOpened=false' placeholder="Search Products"  [(ngModel)]='myDest' (ionChange)='SearchProducts($event);' value="" style='min-width: 200px;'></ion-searchbar>
            
                <ion-item class="search" lines="none" *ngIf="!isSearchbarOpened"  >
                    <ion-button fill="clear" color="light" slot="end" (click)="isSearchbarOpened=true" >
                      <ion-icon slot="icon-only" name="search" ></ion-icon>
                    </ion-button>
                  </ion-item>
                  <div >
                  
                          <ion-list  class="list"  [hidden]="autocompleteItemz.length == 0" (click)="close()"  >
                  <div *ngIf="autocompleteItemz.length > 0"  >
                <ion-item   *ngFor="let item of autocompleteItemz" tappable id="submit" (click)="productDetails(item)"   >
                      <ion-avatar>
                          <img src="{{item.obj.image}}" alt="" height="300" width="300">
                      </ion-avatar>
                      <ion-label> {{ item.obj.name }}</ion-label>
                </ion-item>
                </div>
                </ion-list>
                  
                  
                  </div>
              
            </div>  -->
            
          <div class="navBarItems" >
              <div class="searchBar">
              <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionClear)="removeSearchList()" (ionCancel)='isSearchbarOpened=false' showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
          
              <!-- (ionFocus)="displaySearch()" (ionClear)="resetChanges()"  -->
              <ion-item class="search" lines="none" *ngIf="!isSearchbarOpened"  >
                  <ion-button fill="clear" color="light" slot="end" (click)="isSearchbarOpened=true" >
                    <ion-icon slot="icon-only" name="search" ></ion-icon>
                  </ion-button>
                </ion-item>
            </div>

          <div class="profileBar" >
            <ion-button fill="clear" color="light" (click)="openProfile()" slot="end">
              <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
          </div>
          </div>
        
        </div>

        <div class="formContainer">
          <div class="formContent">

            <div class="inputsContainer">

              <ion-card-header>
                <ion-card-title>Add Product</ion-card-title>
              </ion-card-header>
              <ion-item *ngIf="!event.image">
                <ion-label color="medium" position="stacked" id="profile_image">Upload Product Image</ion-label>
                <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
              </ion-item>
              <ion-item *ngIf="event.image"><img src="{{event.image}}" height="80" width="80"></ion-item>
              <ion-card-content>
                <ion-item>
                  <ion-label color="medium">Categories</ion-label>
                  <ion-select (ionChange)="getCategories($event)">
                    <ion-select-option value="Vase">Vase</ion-select-option>
                    <ion-select-option value="Cups ">Cups </ion-select-option>
                    <ion-select-option value=" Plates"> Plates</ion-select-option>
                    <ion-select-option value="Photo Frame">Photo Frames</ion-select-option>
                    <ion-select-option value="Decor Pallets">Decor Pallets</ion-select-option>
                    <ion-select-option value="Wall Deco">Wall Decor</ion-select-option>
                    <ion-select-option value="Bowls">Bowls </ion-select-option>
                    <ion-select-option value="Bowls and Pots"> Pots</ion-select-option>
                    <ion-select-option value="Lamps">Lamps</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-textarea placeholder="Description" [(ngModel)]="event.desc"></ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-input type="text" placeholder="Name" [(ngModel)]="event.name"></ion-input>
                </ion-item>
                <!-- <ion-item>
                  <ion-input type="text" placeholder="Product number" [(ngModel)]="event.productno"></ion-input>
                </ion-item> -->
                <ion-item>
                  <ion-input type="text" placeholder="Price" [(ngModel)]="event.price"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="medium" position="floating">Size</ion-label>
                  <ion-select multiple="true" [(ngModel)]="event.size">
                    <ion-select-option *ngFor="let s of size">{{s}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <!-- <ion-item>
                    <ion-input  placeholder="Available stock" type="number" min="1" max="1000000" [(ngModel)]="event.quantity"></ion-input>
                  </ion-item> -->


                <ion-list>
                  <ion-radio-group (ionChange)="getOption($event)">
                    <ion-item id="radio-buttons">
                      <ion-label color="medium">per Item</ion-label>
                      <ion-radio color="medium" slot="start" value="perItem" checked></ion-radio>
                    </ion-item>

                    <ion-item id="radio-buttons">
                      <ion-label color="medium">per Package</ion-label>
                      <ion-radio color="medium" slot="start" value="perPackage"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>



                <!-- <ion-button color="primary" (click)="addEvent()" [disabled]="event.large == ''">Upload</ion-button> -->
                <ion-button class="buttons " color="warning" *ngIf="!updateBtn" (click)="addEvent()">Upload
                </ion-button>
                <ion-button class="buttons " color="warning" *ngIf="updateBtn" (click)="update(autoId)">Update
                  </ion-button>
                <!-- <button class="buttons" color="warning" *ngIf="updateBtn" (click)="update(autoId)">Update</button> -->
              </ion-card-content>
            </div>
          </div>

          <div class="card">
            <ion-card no-padding class="cardInfor" *ngFor="let p of listproduct" (click)="edit(p.data, p.id)">

              
              <div class="itemImage">
                <img class="cardImage"  src="{{p.data.image}}" alt="">
                <!-- <img class="cardImage" src="../../../assets/original (2).jpg" alt=""> -->
              </div>
              <div class="itemDetails" >
                <div> <ion-title  >{{p.data.name}}</ion-title>
                <!-- <ion-card-subtitle padding >{{p.data.productno}}</ion-card-subtitle> -->
                </div>
                <div>
                     <ion-card-title  >R &nbsp;{{p.data.price}}</ion-card-title>
                </div>
             
              <div class="size">
                <ion-card-subtitle>Size:&nbsp; S, M, L</ion-card-subtitle>
                    <hr>
                    <div class="fet">
                      <p *ngFor="let s of p.size">Size: &nbsp;{{s}}</p>
                    </div> 
                    <!-- <p>Created: {{p.data.lastcreated}}</p>  -->
                  </div>
                 
                  
                  
               
                <!-- <ion-card-content >
                  {{p.data.desc}}
                </ion-card-content> -->

                <ion-card-content >
    
                </ion-card-content> 
           
              </div>
              
                <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="delete(p.id)">
                  <ion-fab-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                  </ion-fab-button>
                </ion-fab>

                <!-- <ion-fab-button vertical="bottom" horizontal="end" slot="fixed"  >
                            <ion-icon name="trash"></ion-icon>
                          </ion-fab-button>
                    -->
           
    

            </ion-card>
            <!--             
              <div class="cardInfor" *ngFor="let p of listproduct">

            <div class="d-image" (click)="edit(p.data, p.id)">
              <img src="{{p.data.image}}" alt="">
            </div>
            <div class="details">
              <div class="r-name">
                <h3>{{p.data.name}}</h3>
                <p>R {{p.data.price}} pp/pn</p>
              </div>
              <p>{{p.data.desc}}</p>
              <h3>{{p.data.productno}}</h3>
              <h4>{{p.data.items}}</h4>

              <div class="size">
                <h3>Sizes</h3>
                <hr>
                <div class="fet">
                  <p *ngFor="let s of p.size">{{s}}</p>
                </div>
                <p>Created: {{p.data.lastcreated}}</p>
              </div>

            </div>
            <div class="remove">
              <ion-fab-button color="danger" (click)="delete(p.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
            </div>
          </div> -->

          </div>

        </div>






      </div>
    </div>
  </div>
</body>


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
     Products
    </ion-title>
    <ion-button (click)="openHome()" slot="end">Home</ion-button>
    <ion-button (click)="openProfile()" slot="end">Profile</ion-button>
    <ion-button (click)="openUploads()" slot="end">Add Product</ion-button>
    <ion-button (click)="openInvoice()" slot="end">Invoices</ion-button>
    <ion-button (click)="logOut()" slot="end">Logout</ion-button>
  </ion-toolbar>
</ion-header>
 

<ion-content >
    <ion-item *ngIf="!event.image">
        <ion-label position="stacked" id="profile_image" color="primary">Select Product image</ion-label>
        <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
      </ion-item>
      <ion-item *ngIf="event.image"><img  src="{{event.image}}" height="80" width="80"></ion-item>
  <ion-card>
      <ion-card-header >
        <ion-card-title>New Product </ion-card-title>
      </ion-card-header>
      <ion-card-content >
      <ion-item >
              <ion-label>Categories</ion-label>
              <ion-select  (ionChange) = "getCategories($event)">
                <ion-select-option value="Vase" >Vase</ion-select-option>
                <ion-select-option value="Cups and Plates" >Cups and Plates</ion-select-option>
                <ion-select-option value="Photo Frame" >Photo Frames</ion-select-option>
                <ion-select-option value="Decor Pallets" >Decor Pallets</ion-select-option>
                <ion-select-option value="Wall Deco" >Wall Decor</ion-select-option>
                <ion-select-option value="Bowls and Pots" >Bowls and Pots</ion-select-option>
                <ion-select-option value="Lamps" >Lamps</ion-select-option>
      </ion-select>
      </ion-item>
      <ion-item>
          <ion-textarea placeholder="Description" [(ngModel)]="event.desc"></ion-textarea>
      </ion-item>
        <ion-item>
              <ion-input type="text" placeholder="Name" [(ngModel)]="event.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Product Number" [(ngModel)]="event.productno"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Price" [(ngModel)]="event.price"></ion-input>
        </ion-item>

        <ion-list>
            <ion-radio-group (ionChange) = "getOption($event)">
              <ion-item>
                <ion-label>per Item</ion-label>
                <ion-radio slot="start" value="perItem" checked></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>per Package</ion-label>
                <ion-radio slot="start" value="perPackage"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-item>
            <ion-input type="number" min="1" max="1000000" [(ngModel)]="event.quantity"></ion-input>
        </ion-item>
       
            <ion-item>
              <ion-label position="floating">Size</ion-label>
        <ion-select multiple="true" [(ngModel)]="event.size">
              <ion-select-option *ngFor="let s of size">{{s}}</ion-select-option>
        </ion-select>
  </ion-item>

<ion-button color="primary" *ngIf="!updateBtn" (click)="addEvent()" >Save Product</ion-button>
        <button *ngIf="updateBtn" (click)="update(autoId)">Update</button>
      </ion-card-content>
  </ion-card>



  <div class="display">
    <div class="d-card" *ngFor="let p of listproduct" >
          
          <div class="d-image" (click)="edit(p.data, p.id)">
                <img src="{{p.data.image}}" alt="">
          </div>
          <div class="details">
                <div class="r-name">
                      <h3>{{p.data.name}}</h3>
                      <p>R {{p.data.price}} pp/pn</p>
                </div>
                <p>{{p.data.desc}}</p>
                <h3>{{p.data.productno}}</h3>
                <h4>{{p.data.items}}</h4>

                <div class="size">
                      <h3>Sizes</h3>
                      <hr>
                      <div class="fet">
                            <p *ngFor="let s of p.size">{{s}}</p>
                      </div>
                      <p>Created: {{p.data.lastcreated}}</p>
                </div>
                
          </div>
          <div class="remove">
            <ion-fab-button color="danger" (click)="delete(p.id)">
                  <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
      </div>
    </div>
    <div class="listb">
                
    </div>
</div>
</ion-content>     -->