<div class="loader-container" *ngIf="loader">
  <div class="loader">Loading...</div>
</div>
<ion-content>
  <div class="container">
    
    <div class="category-Container">
      <div class="First-Category-Block"(click)="categorylist('Deco')">
        <img  src="{{Homescreen.deco}}" alt="">
        <ion-label class="category-label"><span>Deco ({{decoLength}})</span></ion-label>
      </div>
      <div class="Second-Category-Block" (click)="categorylist('Pottery')">
        <div class="firstSecond-block">
          <img  src="{{Homescreen.pottery}}" alt="">
          <ion-label class="category-label"><span>Pottery ({{potteryLength}})</span></ion-label> 
        </div>
        <div class="container-bottom2">
          <div class="seconSecond-block" (click)="categorylist('Lamps')" >
            <img  src="{{Homescreen.lamps}}" alt="">
            <ion-label class="category-label"><span>Lamps ({{lampsLength}})</span></ion-label> 
          </div>
          <div class="thirdSecond-block" (click)="categorylist('Vase')">
            <img  src="{{Homescreen.vase}}" alt="">
            <ion-label class="category-label"><span>Vases ({{vaseLength}})</span></ion-label> 
          </div>
        </div>
      </div>
    </div>
    <div class="more_deals">
      <div class="info">
        <h1>check your sales</h1>
        <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
          veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim 
          ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
          consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque 
          porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
          adipiscir</p> -->
      </div>
      <ion-item>
        <ion-label>Sales</ion-label>
      </ion-item>
      
      <div class="special-section" *ngIf="!myProduct"  >
        <div class="specials"> 
           <div class="specials-overlay" ></div>
          <!-- <img src="../../../assets/canva-man-making-clay-pot-MADGvul2Slk.png"> -->
         <ion-title>There are currently no specials</ion-title>
          <ion-title>stay tuned the is more  to come</ion-title>
        </div>
    </div>
   
        <div class="cards-container"  >
      
          <!-- Fetching all products on special *ngFor="let me of SpecialScrin"-->
    <div   class="products-section" *ngFor="let event of proSales; let i=index;" >
    <div class="cards"  [ngClass]="{'active': active==i}"  >
      <div class="percent-off" >
        <p>{{event.obj.percentage}} % off</p>
      </div>
      <img class="animated fadeInDown 2s" src="{{event.obj.image}}" (click)="allSpecials(event)" alt="">
      <ion-label class="name"> {{event.obj.name}} </ion-label>
      <ion-label class="price"> {{event.obj.totalPrice | currency: '&#82;'}}  <span class="span-tsrike" >{{event.obj.price | currency: '&#82;'}}</span>  </ion-label>
     
      <div class="stars">
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star-outline" color="warning"></ion-icon>
      </div>
      <!-- <div class="icon-wish" >
        <ion-icon name="heart"  (click)="addWishlist()" ></ion-icon>
      </div> -->
   
    </div>
  </div>
  </div>
      </div>
    </div>
  <!-- </div> -->
</ion-content>