// left sidemenu
@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  height: 100%;
  width: 100%;
  margin: 0%;
  left: 0%;
  right: 0%;
  background-color: red;
}
.content {
  height: 100%;
  width: 100%;
  margin: 0%;
  left: 0%;
  right: 0%;
  background-color: green;
}
.sidebar1 {
  background: #FFAF65;
  // /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(#f17153, #f58d63, #f1ab53);
  // /* For Safari 5.1 to 6.0 */
  background: linear-gradient(#f17153, #f58d63, #f1ab53);
  // /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(#f17153, #f58d63, #f1ab53);
  // /* For Firefox 3.6 to 15 */
  // background: linear-gradient(#f17153, #f58d63, #f1ab53);
  // /* Standard syntax */
  // background-color: blue;
  // text-align: center;
  padding: 16px;
  // justify-content: space-around;
}
.sidebar2 {
  background:#FFAF65;
  // /* For browsers that do not support gradients */
  background: linear-gradient(#f17153, #f58d63, #f1ab53);
  // /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(#f17153, #f58d63, #f1ab53);
  // /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(#f17153, #f58d63, #f1ab53);
  // /* For Firefox 3.6 to 15 */
  // background: linear-gradient(#f17153, #f58d63, #f1ab53);
  // /* Standard syntax */
  // background-color: blue;
  text-align: center;
  padding: 16px;
}
.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.topnavbar {
  float: left;
}

.logo {
  max-height: 130px;
}
.logo > img {
  padding: 3px;
  border: 3px solid white;
  border-radius: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  // color: #fff;
  list-style: none;
  padding-left: 0px;
  justify-content: space-between;
}
.list > li:hover {
}
ion-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: bolder;
}
.main-content {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0%;
  left: 0%;
  right: 0%;
  background-color: white;
}
ion-card:hover {
  background-color: rgba(94, 92, 91, 0.212);
}
.cardImage {
  width: 100%;
  // height: 25%;
}

.navigation_bar {
  background:#f17153;
  position: relative;
  width: 100%;
}
.searchBar{
  margin-left: auto;

}
.deleteAlert{
  background-color: red;
}
.alertCustomCss{
  background-color: red;
  color: blue;
  button{
      color: violet;
  }
}
.profileBar{
    margin-right: 3%;
}
ion-searchbar{
  font-weight: bold;

}
.search{
  --ion-background-color: transparent;
}
.nav-icons {
  width: 100%;
}
.navBarItems {
  display: flex;
  margin-left: auto;
}
ion-card-title {
  color: #707070;
}
ion-label {
  --ion-color: red;
}

ion-title {
  --color: #989aa2;
  font-weight: lighter;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: serif;
}
ion-card-title {
  --color: #989aa2;
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: serif;
}
ion-card-subtitle {
  --color: #989aa2;
  font-weight: lighter;
  text-transform: capitalize;
  font-family: serif;
}
.buttons {
  width: 100%;
  --border-radius: 0px 50px 0px 50px;
  // background-color: #FFAF65;
}

.search {
  --ion-background-color: transparent;
}
.inputsContainer {
  padding-top: 16%;
}

.formContainer {
  margin: auto;
  // border: solid red;
  width: 100%;
  height: 100%;
  left: 0%;
  right: 0%;
  display: flex;
  flex-direction: row;
}
.formContent {
  // margin: auto;
  // border: solid green;
  width: 25%;
  height: 100%;
  left: 0%;
  right: 0%;
}
.card {
  // border: solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  box-shadow: #707070;
}
.categories-block {
}
.myProduct {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 20px;
}
ion-card {
  width: 100%;
  min-height: 45vh;
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
  border-radius: 15px;
  box-shadow: rgb(235, 230, 230);
  background-color: rgba(245, 245, 245, 0.555);
}
.cardInfor {
  // border: solid purple;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 25%;
  height: 20%;
}
.cardImage {
  width: 100%;
  padding: 0%;
  height: 100%;
  // border: solid blue;
}
.itemImage {
  width: 100%;
  padding: 0%;
  height: 80%;
  // border: solid orchid;
}
.itemDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  // border:solid red;
}
.image-cards {
  // margin: auto;
  // border: solid blue;
  // width: 100%;
  // height: 100%;
  // left: 0%;
  // right: 0%;
}
