<div class="popover-container">
  <div class="buttons">
      <!-- <ion-button color="primary" fill="clear" slot="end" (click)="openLogin()" (click)="DismissClick() "  *ngIf="!checkUser" >Login </ion-button> -->
      <!-- <ion-button  color="primary" fill="clear" slot="end" (click)="openRegister()" (click)="DismissClick() " *ngIf="!checkUser"  >Register</ion-button> -->
      <ion-button  fill="clear"  color="primary" fill="clear"   (click)="createProfile()"  (click)="DismissClick() "  slot="end">Profile</ion-button>
      <ion-button color="primary" fill="clear" slot="end" (click)="logOut()" (click)="DismissClick() "   >Logout</ion-button>
  </div>
</div>
