<ion-content>
  <div class="content">
    <div class="main-cover">
      <div class="whoWeAre">
        <div class="image-section">
          <div class="edit-image">
            <!-- <input type="file" name="file" id="file" class="fileInput" (change)="changeListener($event)"/> -->
            <input type="file" id="fileUploader" placeholder="upload image" accept="image/*" multiple="false"
            (change)="changeListener($event)">
            <label for="fileUploader" id="editor" >
              <ion-icon name="create" color="light" class="edit-image-icon" ></ion-icon>
            </label>
          </div>
          <img  *ngIf="!about.MyImage " src="../../../assets/canva-man-making-clay-pot-MADGvul2Slk.png" alt="">
          <img *ngIf="about.MyImage " src="{{about.MyImage}}" alt="">
          <!-- <img  *ngIf="!about.image" src="../../../assets/canva-man-making-clay-pot-MADGvul2Slk.png" alt="">
        
          <img src="{{Image}}" alt=""> -->

        </div>
        <div class="description-section">
          <div>
            <ion-item color="dark" class="items" lines="none">
              <ion-input placeholder="I'm ben" [(ngModel)]="about.fullname"> </ion-input>
              <ion-icon name="create"></ion-icon>
            </ion-item>
          </div>
          <div>
            <ion-item color="" class="items" lines="none">
              <ion-input placeholder="So nice to meet you" [(ngModel)]="about.subject"> </ion-input>
              <ion-icon name="create"></ion-icon>
            </ion-item>
            <!-- <ion-label>So nice to meet you</ion-label> -->
          </div>
          <div>
            <!-- <p>Lorem ipsum dolor sit amet,
               consetetur sadipscing elitr, 
               sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
              Lorem ipsum dolor sit amet, consetetur
               sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
               liquyam erat, sed diam voluptua. At vero eos et accusam et justo 
               duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
              </p> -->
            <ion-item color="" class="textarea-item" lines="none">
              <ion-textarea name="" id="" cols="55" rows="10" placeholder="about yourself e.g how the bussness started" [(ngModel)]="about.textMessage">
              </ion-textarea>
              <ion-icon class="textarea-icon" name="create"></ion-icon>
            </ion-item>
            <ion-fab vertical="bottom" horizontal="end">
              <ion-fab-button color="success">
                <ion-icon name="save" (click)="addAboutUs()"></ion-icon>
              </ion-fab-button>
              <!-- <ion-fab-list side="end">
                    <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
                  </ion-fab-list> -->
            </ion-fab>
          </div>
        </div>
      </div>
      <div class="services">
        <div class="services-description-section">
          <!-- <div>   <ion-title>My services</ion-title></div>
          <div> <ion-label>what I can  do for you</ion-label></div>
          <div>
            <p>Lorem ipsum dolor sit amet,
               consetetur sadipscing elitr, 
               sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
              Lorem ipsum dolor sit amet, consetetur
               sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
               liquyam erat, sed diam voluptua. At vero eos et accusam et justo 
               duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
              </p>
          </div>
          -->
          <div>
            <ion-item color="" class="items" lines="none">
              <ion-input placeholder="My services" [(ngModel)]="services.service"> </ion-input>
              <ion-icon name="create"></ion-icon>
            </ion-item>
          </div>
          <div>
            <ion-item color="" class="items" lines="none">
              <ion-input placeholder="what I can  do for you" [(ngModel)]="services.job"> </ion-input>
              <ion-icon name="create"></ion-icon>
            </ion-item>
          </div>
          <div>
            <ion-item class="textarea-item" color="d" lines="none">
              <ion-textarea name="" id="" cols="55" rows="9" placeholder="about yourself e.g how the bussness started" [(ngModel)]="services.history">
              </ion-textarea>
              <ion-icon class="textarea-icon" name="create"></ion-icon>
            </ion-item>
            <ion-fab vertical="bottom" horizontal="end">
              <ion-fab-button color="success">
                <ion-icon name="save" (click)="addServices()"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
        </div>
        <div class="services-image-section">
          <img  *ngIf="!services.MyImage " src="../../../assets/canva-man-making-clay-pot-MADGvul2Slk.png" alt="">
          <img *ngIf="services.MyImage " src="{{services.MyImage}}" alt="">
          <div class="edit-image">
            <label for="fileUpload" id="editor">
              <ion-icon name="create"></ion-icon>
            </label>
            <input type="file" placeholder="upload image" id="fileUpload" accept="image/*" multiple="false"
            (change)="serviceImage($event)">
            <!-- <input type="file"  class="fileInput"  (change)="serviceImage($event.target.files)"/>         
            <label for="file">
              <ion-icon name="create" color="light" class="edit-image-icon"></ion-icon>
            </label> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>