<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <div class="title">
          <div class="text" >Special Up to 75%</div>
          <div >
            <ion-button fill="outline" color="light" (click)="Allspecials()"> Shop Now </ion-button>
          </div>
        </div>
      </ion-title>
    </ion-toolbar> 
    <div class="navigation-bar" >


    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          <li class="logo"><img src="../assets/Group 60.png" alt=""  ></li>  
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <div class="nav-links">
     
        <ion-button class="item" color="medium"  fill="clear" (click)="openHome()" slot="end">Home</ion-button>
        <ion-button class="item" color="medium"  fill="clear" (click)="openAboutUS()" slot="end">About Us</ion-button>             
        <ion-button class="item" color="medium"  fill="clear" (click)="createFaqs()" slot="end">FARQ's</ion-button>
        <ion-button class="item" color="medium"  fill="clear" slot="end" (click)="presentPopover($event)" >
          <ion-icon name="person"></ion-icon></ion-button>
        <ion-button class="item" color="medium"  fill="clear"  slot="end" (click)="createAddToCart()" > 
            <ion-icon name="cart"></ion-icon>
           </ion-button>
           <ion-button class="item" color="medium"  fill="clear"  (click)="createAddToWishList()" slot="end"> 
            <ion-icon name="heart"></ion-icon>
           </ion-button>
           <ion-button  class="item" color="medium"  fill="clear" ><ion-searchbar
             *ngIf="isSearchbarOpened" showCancelButton="true" (ionClear)="removeSearchList()" (ionCancel)='isSearchbarOpened=false'
                 showCancelButton="focus" cancelButtonText="Custom Cancel"  (ionChange)='SearchProducts($event);' value="" 
             ></ion-searchbar
            > 
         </ion-button>
           
      </div>
    </div>
  </div>
   <!-- -->
  
  </ion-header>  
  <ion-router-outlet></ion-router-outlet>
</ion-app>
