<ion-content>
  <div class="content-section">
    <div class="content">
      <div class="message-section">
        <h1>Messages</h1>
        <div class="messages">
          <div class="message-card" *ngFor="let m of message; let i=index " [ngClass]="{'active': active==i}"
            (click)="showList(i,m)">
            <div *ngIf="!myProduct" class="empty">
              <ion-title> no sent messages at the moment</ion-title>
            </div>
            <ion-card padding>
              <div>
                <h2>{{ m.name}}</h2>
                <ion-note>
                  {{m.email}}
                </ion-note>
              </div>
              <ion-card-content>
                <p>
                  {{m.message}}
                </p>
              </ion-card-content>

              <ion-row>
                <ion-col>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    22/01/2020
                  </ion-note>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>



        </div>

      </div>
      <div class="replay-section">
        <h1>
          Reply to messages
        </h1>
        <div class="response">
          <ion-label>Reply to: <p> {{userMessage.mail}}</p>
          </ion-label>
        </div>
        <div class="response-as">
          <ion-label>Reply as: <p>{{admin.email}}</p>
          </ion-label>
        </div>
        <div class="response-as">
          <ion-label>Subject: <p>{{userMessage.subject}}</p>
          </ion-label>
        </div>
        <div class="write-message">
          <textarea placeholder="Message" name="" [(ngModel)]="msg" id="" cols="60"></textarea>
        <div class="btn">
          <ion-button shape="round" (click)="sendReply()" expand="outline" color="medium" >send response</ion-button>
        </div>
        </div>
      </div>

    </div>

  </div>


</ion-content>
