
<ion-content>
  <div class="content-section">
    <div class="content">
      <div class="message-section">
        <h1>Messages</h1>
        <div class="messages">
          <div class="message-card" *ngFor="let m of message; let i=index " [ngClass]="{'active': active==i}" (click)="showList(i, m)">
            <div *ngIf="!myProduct" class="empty">
              <ion-title> no sent messages at the moment</ion-title>
            </div>
            <ion-card padding>
              <div>
                <h2>{{ m.name}}</h2>
                <ion-note>
                  {{m.email}}
                </ion-note>
              </div>
              <ion-card-content>
                <p>
                  {{m.message}}
                </p>
              </ion-card-content>

              <ion-row>
                <ion-col>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    22/01/2020
                  </ion-note>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>



        </div>

      </div>
      <div class="replay-section">
        <h1>
          Replay to messages
        </h1>
        <div class="response">
          <ion-label>Replay to: <p> {{userMessage.mail}}</p>
          </ion-label>
        </div>
        <div class="response-as">
          <ion-label>Replay as: <p> martymcfly@pitseng.com</p>
          </ion-label>
        </div>
        <div class="write-message">
          <textarea placeholder="Message" name="" id="" cols="60" rows="18"></textarea>

        </div>
        <div class="btn">
          <ion-button shape="round" expand="outline" color="medium">send response</ion-button>
        </div>




      </div>

    </div>

  </div>


</ion-content>

<!--  -->