
  <div class="row">
    <div class=" sidebar1  ">
      <div class="logo">
        <img src="../../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="80" height="80">
      </div>
      <br>
      <div class="left-navigation">
        <div class="list">

          <ion-button expand="clear" color="light" (click)="openPro()" slot="end">Home</ion-button>
          <br>
          <ion-button  class="invoice" expand="clear" color="light" (click)="openInvoice()" slot="end">Invoices</ion-button>
          <br>
          <ion-button expand="clear" color="light" (click)="logOut()" slot="end">Logout</ion-button>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="navigation_bar">
        <div class="navigation_bar">
          <div class="navBarItems">
            <!-- <div class="searchBar">
              <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionClear)="removeSearchList()"
                (ionCancel)='isSearchbarOpened=false' showCancelButton="focus" cancelButtonText="Custom Cancel">
              </ion-searchbar>
              <ion-item class="search" lines="none" *ngIf="!isSearchbarOpened">
                <ion-button fill="clear" color="light" slot="end" (click)="isSearchbarOpened=true">
                  <ion-icon slot="icon-only" name="search"></ion-icon>
                </ion-button>
              </ion-item>
            </div> -->

            <div class="profileBar">
              <ion-button fill="clear" color="light" (click)="openProfile()" slot="end">
                <ion-icon slot="icon-only" name="contact"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
      <div class="coverContent">
          <div class="heading">
            <div class="items">
              <ion-title>item</ion-title>
              <div class="itemsDetails" *ngFor="let li of Orders">
                <div class="itemImage" >
                     <img src="{{li.obj.image}}" width="100px" height="100px" alt="">
                </div>
                <div class="itemName" >
                     <ion-label>{{li.obj.name}}</ion-label>
                <ion-label> {{li.obj.productCode}}</ion-label>
                </div>
              </div>
              <!-- <div class="itemsDetails" >
                  <div class="itemImage" >
                       <img src="../../../assets/f77392832f13b428f45dd4b7b43ebe6f.jpg" width="100px" height="100px" alt="">
                  </div>
                  <div class="itemName" >
                       <ion-label>Item name</ion-label>
                  <ion-label>product code</ion-label>
                  </div>
               
                </div> -->
            </div>
            <div class="qty" >
                <ion-title>qty</ion-title>
                <div class="qtyNo" *ngFor="let li of Orders">
                  <ion-label class="Qno" >{{li.obj.quantity}}</ion-label>
                </div>
                <!-- <div class="qtyNo" >
                    <ion-label>1</ion-label>
                  </div> -->
                
            </div>
            <div class="size" >
                <ion-title>size</ion-title>
                <div class="sizeNo" *ngFor="let li of Orders">
                  <ion-label>{{li.obj.size}}</ion-label>
                </div>
                <!-- <div class="sizeNo" >
                    <ion-label>1</ion-label>
                  </div> -->
                
            </div>
            <div class="price" >
                <ion-title>price</ion-title>
                <div class="priceNo" *ngFor="let li of Orders">
                  <ion-label>{{li.obj.price}}</ion-label>
                </div>
                <!-- <div class="priceNo">
                    <ion-label>1</ion-label>
                  </div> -->
                
            </div>
            <div class="subtotal" >
                <ion-title>subtotal</ion-title>
                <div class="subtotalNo" *ngFor="let li of Orders">
                  <ion-label>{{li.obj.price}}</ion-label>
                </div>
                <!-- <div class="subtotalNo" >
                    <ion-label>1</ion-label>
                  </div>
                 -->
            </div>
          </div>
          <div class="total">
            <div  class="totaldetails" > 
              <div class="amount" >
                <ion-label > total amount: R 12345 </ion-label>
              </div>
              <div>
                  <!-- <ion-label > {{d.details.total}}</ion-label> -->
              </div>
              
        
            </div>
                      <div class="buttons">
          
            <ion-button class="buttons" *ngIf= "!text" padding  color="warning"  shape="round" expand="full" (click)="ChangeText()">Payment Recieved</ion-button>
            <ion-button class="buttons" *ngIf= "text" padding  color="warning"  shape="round" expand="full" (click)="goToPDF()" >send reciept</ion-button><br> 
          <ion-button  class="buttons" *ngIf="hideButton" color="secondary" [disabled]="!pdfObj">VIEW RECEIPT</ion-button>
         
            </div>
          </div>

      
      
        </div>
    </div>
  </div>






<!-- <ion-header>
<ion-toolbar>
  <ion-title>Tab Two</ion-title>
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div class="coverContent">
  <div class="heading">
    <div class="items">
      <ion-title>item</ion-title>
      <div class="itemsDetails" >
        <div class="itemImage" >
             <img src="../../../assets/f77392832f13b428f45dd4b7b43ebe6f.jpg" width="100px" height="100px" alt="">
        </div>
        <div class="itemName" >
             <ion-label>Item name</ion-label>
        <ion-label>product code</ion-label>
        </div>
     
      </div>
      <div class="itemsDetails" >
          <div class="itemImage" >
               <img src="../../../assets/f77392832f13b428f45dd4b7b43ebe6f.jpg" width="100px" height="100px" alt="">
          </div>
          <div class="itemName" >
               <ion-label>Item name</ion-label>
          <ion-label>product code</ion-label>
          </div>
       
        </div>
    </div>
    <div class="qty" >
        <ion-title>qty</ion-title>
        <div class="qtyNo" >
          <ion-label class="Qno" >1</ion-label>
        </div>
        <div class="qtyNo" >
            <ion-label>1</ion-label>
          </div>
        
    </div>
    <div class="size" >
        <ion-title>size</ion-title>
        <div class="sizeNo" >
          <ion-label>1</ion-label>
        </div>
        <div class="sizeNo" >
            <ion-label>1</ion-label>
          </div>
        
    </div>
    <div class="price" >
        <ion-title>price</ion-title>
        <div class="priceNo">
          <ion-label>1</ion-label>
        </div>
        <div class="priceNo">
            <ion-label>1</ion-label>
          </div>
        
    </div>
    <div class="subtotal" >
        <ion-title>subtotal</ion-title>
        <div class="subtotalNo" >
          <ion-label>1</ion-label>
        </div>
        <div class="subtotalNo" >
            <ion-label>1</ion-label>
          </div>
        
    </div>
  </div>
  <div class="total">
    <div class="totaldetails" > 
      <div>
        <ion-label > total amount </ion-label>
      </div>
      <div>
          <ion-label > R &nbsp; 5000</ion-label>
      </div>
      
    
    </div>
    <div class="buttons" >
  <ion-button *ngIf= "!isPaymentRecieved" padding  color="warning"  shape="round" expand="full" >Payment Recieved</ion-button>
        <ion-button *ngIf= "isPaymentRecieved" padding color="warning" expand="full" shape="round" fill="outline">send reciept</ion-button>
    </div>
  </div>
</div>
</ion-content> -->