<!-- <div class="row">
    <div class=" sidebar1  ">
      <div class="logo">
        <img src="../../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="80" height="80">
      </div>
      <br>
      <div class="left-navigation">
        <div class="list">

          <ion-button expand="clear" color="light" (click)="openPro()" slot="end">Home</ion-button>
          <br>
          <ion-button  class="invoice" expand="clear" color="light" (click)="openInvoice()" slot="end">Invoices</ion-button>
          <br>
          <ion-button expand="clear" color="light" (click)="logOut()" slot="end">Logout</ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="navigation_bar">
      <div class="navigation_bar">
        <div class="navBarItems">
​
          <div class="profileBar">
            <ion-button fill="clear" color="light" (click)="openProfile()" slot="end">
              <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
<ion-content scroll="true" >
<div *ngFor="let b of Orders" class="coverContent">  
  <div *ngFor="let li of b.product" class="heading" >
      <div class="itemsDetails">
        <div class="itemImage" >
          <img src="{{li.prod.image}}" width="100px" height="100px" alt="">
        </div>
      <div class="itemName">
        <ion-label>{{li.prod.name}}</ion-label>
        <ion-label> {{li.prod.productCode}}</ion-label>
      </div>
      </div>
  
    
    <div class="size" >
      <ion-title>size</ion-title>
        <div class="sizeNo">
          <ion-label>{{li.prod.size}}</ion-label>
        </div>
      </div>
      <div class="price" >
        <ion-title>price</ion-title>
        <div class="priceNo">
          <ion-label>{{li.prod.price}}</ion-label>
        </div>
​
      </div>
      <div class="qty" >
        <ion-title>qty</ion-title>
        <div class="qtyNo">
          <ion-label class="Qno" >{{li.prod.quantity}}</ion-label>
        </div>    
      </div>
      <div class="subtotal" >
        <ion-title>subtotal</ion-title>
        <div class="subtotalNo">
          <ion-label>{{li.prod.amount}}</ion-label>
        </div>
      </div>
     
    </div>
      <div  class="totaldetails" > 
        <ion-title>Total amount</ion-title>
        <div class="amount" >
          <ion-label >Total :{{totalPrice | currency: '&#82;'}}</ion-label>
        </div>
        <div>
          <ion-button class="buttons"  padding  color="warning"  shape="round" expand="full" (click)="cancel()"> Order cancel </ion-button>
          <ion-button class="buttons" *ngIf="!orderShowbtn"  padding  color="warning"  shape="round" expand="full" (click)="orderReady()"> Process Order </ion-button>
          <ion-button class="buttons" *ngIf="!readyBtn"  padding  color="secondary"  shape="round" expand="full" (click)="orderReady()"> ready for collections </ion-button>
      
        </div>
          <ion-button class="buttons" *ngIf= "!text" padding  color="warning"  shape="round" expand="full" (click)="ChangeText()">Payment Recieved</ion-button>
          <ion-button class="buttons" *ngIf= "text" padding  color="warning"  shape="round" expand="full" (click)="goToPDF()" >send reciept</ion-button><br> 
          <ion-button  class="buttons" (click)="downloadUrl()" *ngIf="hideButton" color="secondary" [disabled]="!pdfObj">VIEW RECEIPT</ion-button>
      </div>
        <div  class="totaldetails" > 
          <ion-title>Total amount</ion-title>
          <div class="amount" >
            <ion-label >Total :{{totalPrice | currency: '&#82;'}}</ion-label>
          </div>
          <div>
            <ion-button class="buttons"  padding  color="warning"  shape="round" expand="full" (click)="cancel()"> Order cancel </ion-button>
            <ion-button class="buttons" *ngIf="!orderShowbtn"  padding  color="warning"  shape="round" expand="full" (click)="orderProcessed()"> Process Order </ion-button>
            <ion-button class="buttons" *ngIf="!readyBtn"  padding  color="secondary"  shape="round" expand="full" (click)="orderReady()"> ready for collections </ion-button>
        
          </div>
            <ion-button class="buttons" *ngIf= "!text" padding  color="warning"  shape="round" expand="full" (click)="ChangeText()">Payment Recieved</ion-button>
            <ion-button class="buttons" *ngIf= "text" padding  color="warning"  shape="round" expand="full" (click)="goToPDF()" >send reciept</ion-button><br> 
            <ion-button  class="buttons" (click)="downloadUrl()" *ngIf="hideButton" color="secondary" [disabled]="!pdfObj">VIEW RECEIPT</ion-button>
        </div>
  </div>

       
</ion-content> -->
  






    <!-- *ngFor="let p of arr; let i=index;"   [ngClass]="{'active': active==i}"
            (click)="showList(i, p)"-->
 <!-- *ngIf="trackOrders.image"<img *ngIf="!trackOrders.image" src="../../../assets/2e2fac9d4a392456e511345021592dd2 (1).jpg" width="100%" height="100%" alt=""> -->
   <!-- Tracking progress (click)="showList()" *ngIf="!list" --> 
   <!-- boleto__wrapper  *ngIf="!list" -->




 <div class="heading">
  <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-icon color="dark" name="close" (click)="dismiss()" ></ion-icon>

  </ion-fab>
  <hr>
</div>

<div class="loader-container" *ngIf="loader">
  <div class="loader">Loading...</div>
</div>

<ion-content>
  <div class="main-container">
    <div class="main-content">

      <div class="itemList">
        <div class="heading-title" >
          <ion-title>Items Ordered</ion-title>
        </div>
        <div class="scroll">
      
          <div class="pedding-oders " *ngFor="let p of arr; let i=index;" [ngClass]="{'active': active==i}"  
          (click)="showList(i, p)">
            <div class="image">
              <img src="{{p.obj.image}}" alt="">
            </div>
            <div class="details">
              <div class="invoice">
                <ion-label>{{p.obj.product_name}}</ion-label>
              </div>
              <div class="price">
                <ion-label>{{p.obj.price | currency : '&#82;'}}</ion-label>
              </div>
              <div class="size">
                <ion-label>Size: </ion-label>
                <ion-label>{{p.obj.size}}</ion-label>
              </div>
              <div class="quantity">
                <ion-label>quantity: </ion-label>
                <ion-label>{{p.obj.quantity}}</ion-label>
              </div>
            </div>
          </div>
        </div>
<div class="total-amount" *ngFor="let p of arr; let i=index;">
            <!-- <ion-title>Total :{{totalPrice | currency : '&#82;'}} </ion-title> -->
          </div>
        <div class="tracking" *ngFor="let p of arr; let i=index;">
          <div class="tacking-heading">
            <ion-title>tracking status: {{p.obj.status}}</ion-title>
          </div>

          <div  class=" oders">
            <div class="recieved" >
              <p>{{status}}</p>
            </div>
            <div class="processed" >
              <p></p>
            </div>
            <div class="ready" >
              <p></p>

            </div>
            <div class="delivered" >
              <p></p>
            </div>

            <!-- <div class="tracking-progress-bar">
              <div
                class="tracking-progress-bar__item tracking-progress-bar__item--first tracking-progress-bar__item--active" (click)="orderReady()">
                1</div>

              <span class="tracking-progress-bar__item__bar tracking-progress-bar__item__bar--active"></span>
              <div class="tracking-progress-bar__item tracking-progress-bar__item--active"(click)="orderReady()">2</div>

              <span class="tracking-progress-bar__item__bar"></span>
              <div class="tracking-progress-bar__item" (click)="orderReady()">3</div>

              <span class="tracking-progress-bar__item__bar"></span>
              <div class="tracking-progress-bar__item" (click)="orderReady()">4</div>
            </div> -->

            <!-- <div class="tracking-oder-labels">
              <div class="one" >order recieved</div>
              <div class="two" >being prepared</div>
              <div class="three" >order is ready</div>
              <div class="four">delivered</div>
            </div> -->
            <div class="status">
            <!-- <ion-button class="buttons" *ngIf="status === 'received'">Cancel Order</ion-button>
            <ion-button class="buttons" *ngIf="status === 'received'"  padding  color="warning"  shape="round" expand="full" (click)="orderProcessed()"> Process Order </ion-button>
            <ion-button class="buttons" *ngIf="status === 'processed'"  padding  color="secondary"  shape="round" expand="full" (click)="orderPrepared()"> Order Ready</ion-button>
            <ion-button class="buttons" *ngIf="status === 'ready'"  padding  color="warning"  shape="round" expand="full" (click)="orderReady()"> order is ready </ion-button>
            <ion-button class="buttons" *ngIf="status === 'delivered'"  padding  color="secondary"  shape="round" expand="full" (click)="orderCollect()"> Close Order</ion-button> -->
        
              
            <ion-button class="buttons" *ngIf="p.obj.status === 'received'" (click)="cancelOrder()">Cancel</ion-button>
            <ion-button class="buttons"  *ngIf="p.obj.status === 'received'" (click)="processOrder()">Process Order</ion-button>
            <ion-button class="buttons"  *ngIf="p.obj.status === 'processed'" (click)="orderIsReady()">Ready for Collection</ion-button>
            <ion-button class="buttons"  *ngIf="p.obj.status === 'ready'" (click)="closeOrder()">Collected</ion-button>
          </div>

          </div>


        </div>
      </div>
      <div class="item-dsiplay">
        <div>
          <div class="content">
            <div class="image-section">


              <div class="image-container">


               
                <img src="{{trackOrders.image}}" width="100%" height="100%" alt="">
              </div>
            </div>
            <div class="product-details">
              <div class="firstItems">
                <div class="product-name">
                  <ion-label>{{trackOrders.product_name}} </ion-label>
                </div>
               
              </div>
              <div class="productcode">
                <div>
                  <ion-label> Code: {{trackOrders.productCode}}</ion-label>
                </div>
                 <div class="product-price">
                  <ion-label>amount : {{trackOrders.amount}} </ion-label>

                </div>
    
              </div>
              <div class="productDescription">
                <p>{{trackOrders.desc}}  
                </p>
              </div>
              <div class="pdf">
                
               

                <ion-button color="primary" expand="block" (click)="goToPDF()">send reciept Pdf</ion-button>
                <ion-button  class="buttons" (click)="downloadPdf()" *ngIf="hideButton" color="secondary" [disabled]="!pdfObj">VIEW RECEIPT</ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
