<!-- <div class="row">
    <div class=" sidebar1  ">
      <div class="logo">
        <img src="../../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="80" height="80">
      </div>
      <br>
      <div class="left-navigation">
        <div class="list">

          <ion-button expand="clear" color="light" (click)="openPro()" slot="end">Home</ion-button>
          <br>
          <ion-button  class="invoice" expand="clear" color="light" (click)="openInvoice()" slot="end">Invoices</ion-button>
          <br>
          <ion-button expand="clear" color="light" (click)="logOut()" slot="end">Logout</ion-button>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="navigation_bar">
        <div class="navigation_bar">
          <div class="navBarItems">

            <div class="profileBar">
              <ion-button fill="clear" color="light" (click)="openProfile()" slot="end">
                <ion-icon slot="icon-only" name="contact"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
<ion-content scroll="true" >
  <div *ngFor="let b of Orders" class="coverContent">  
    <div *ngFor="let li of b.product" class="heading" >
        <div class="itemsDetails">
          <div class="itemImage" >
            <img src="{{li.image}}" width="100px" height="100px" alt="">
          </div>
        <div class="itemName">
          <ion-label>{{li.name}}</ion-label>
          <ion-label> {{li.productCode}}</ion-label>
        </div>
        </div>
    
      <div class="qty" >
        <ion-title>qty</ion-title>
        <div class="qtyNo">
          <ion-label class="Qno" >{{li.quantity}}</ion-label>
        </div>    
      </div>
      <div class="size" >
        <ion-title>size</ion-title>
          <div class="sizeNo">
            <ion-label>{{li.size}}</ion-label>
          </div>
        </div>
        <div class="price" >
          <ion-title>price</ion-title>
          <div class="priceNo">
            <ion-label>{{li.price}}</ion-label>
          </div>

        </div>
        <div class="subtotal" >
          <ion-title>subtotal</ion-title>
          <div class="subtotalNo">
            <ion-label>{{li.amount}}</ion-label>
          </div>
        </div>
       
      </div>
        <div  class="totaldetails" > 
          <ion-title>Total amount</ion-title>
          <div class="amount" >
            <ion-label >Total :{{totalPrice | currency: '&#82;'}}</ion-label>
          </div>
          <div>
            <ion-button class="buttons"  padding  color="warning"  shape="round" expand="full" (click)="cancel()"> Order cancel </ion-button>
            <ion-button class="buttons" *ngIf="!orderShowbtn"  padding  color="warning"  shape="round" expand="full" (click)="orderProcessed()"> Process Order </ion-button>
            <ion-button class="buttons" *ngIf="!readyBtn"  padding  color="secondary"  shape="round" expand="full" (click)="orderReady()"> ready for collections </ion-button>
        
          </div>
            <ion-button class="buttons" *ngIf= "!text" padding  color="warning"  shape="round" expand="full" (click)="ChangeText()">Payment Recieved</ion-button>
            <ion-button class="buttons" *ngIf= "text" padding  color="warning"  shape="round" expand="full" (click)="goToPDF()" >send reciept</ion-button><br> 
            <ion-button  class="buttons" (click)="downloadUrl()" *ngIf="hideButton" color="secondary" [disabled]="!pdfObj">VIEW RECEIPT</ion-button>
        </div>
  </div>

       
</ion-content> -->
  






    <!-- *ngFor="let p of arr; let i=index;"   [ngClass]="{'active': active==i}"
            (click)="showList(i, p)"-->
 <!-- *ngIf="trackOrders.image"<img *ngIf="!trackOrders.image" src="../../../assets/2e2fac9d4a392456e511345021592dd2 (1).jpg" width="100%" height="100%" alt=""> -->
   <!-- Tracking progress (click)="showList()" *ngIf="!list" --> 
   <!-- boleto__wrapper  *ngIf="!list" -->




 <div class="heading">
  <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-icon (click)="dismiss()" color="dark" name="close"></ion-icon>

  </ion-fab>
  <hr>
</div>

<ion-content>
  <div class="main-container">
    <div class="main-content">
      <div class="itemList">
        <div class="heading-title" >
          <ion-title>Items Ordered</ion-title>
        </div>
        <div class="scroll">
      
          <div class="pedding-oders " >
  
            <div class="image">
              <img src="https://i.pinimg.com/564x/26/9a/b0/269ab05197cf877c8f075265b0b159af.jpg" alt="">
            </div>
            <div class="details">
              <div class="invoice">
                <ion-label>prduct name</ion-label>
              </div>
              <div class="price">
                <ion-label>R 2334</ion-label>
              </div>
              <div class="size">
                <ion-label>Size: </ion-label>
                <ion-label>S, M , L</ion-label>
              </div>
              <div class="quantity">
                <ion-label>quantity: </ion-label>
                <ion-label>2</ion-label>
              </div>
            </div>

          </div>
          <div class="pedding-oders " >
            <div class="image">
              <img src="https://i.pinimg.com/564x/26/9a/b0/269ab05197cf877c8f075265b0b159af.jpg" alt="">
            </div>
            <div class="details">
              <div class="invoice">
                <ion-label>prduct name</ion-label>
              </div>
              <div class="price">
                <ion-label>R 2334</ion-label>
              </div>
              <div class="size">
                <ion-label>Size: </ion-label>
                <ion-label>S, M , L</ion-label>
              </div>
              <div class="quantity">
                <ion-label>quantity: </ion-label>
                <ion-label>2</ion-label>
              </div>
            </div>

          </div>
          <div class="pedding-oders " >
            <div class="image">
              <img src="https://i.pinimg.com/564x/26/9a/b0/269ab05197cf877c8f075265b0b159af.jpg" alt="">
            </div>
            <div class="details">
              <div class="invoice">
                <ion-label>prduct name</ion-label>
              </div>
              <div class="price">
                <ion-label>R 2334</ion-label>
              </div>
              <div class="size">
                <ion-label>Size: </ion-label>
                <ion-label>S, M , L</ion-label>
              </div>
              <div class="quantity">
                <ion-label>quantity: </ion-label>
                <ion-label>2</ion-label>
              </div>
            </div>

          </div>
          <div class="pedding-oders " >
            <div class="image">
              <img src="https://i.pinimg.com/564x/26/9a/b0/269ab05197cf877c8f075265b0b159af.jpg" alt="">
            </div>
            <div class="details">
              <div class="invoice">
                <ion-label>prduct name</ion-label>
              </div>
              <div class="price">
                <ion-label>R 2334</ion-label>
              </div>
              <div class="size">
                <ion-label>Size: </ion-label>
                <ion-label>S, M , L</ion-label>
              </div>
              <div class="quantity">
                <ion-label>quantity: </ion-label>
                <ion-label>2</ion-label>
              </div>
            </div>

          </div>
          
        </div>
<div class="total-amount">
            <ion-title>Total Amount R 3595 .00 </ion-title>
          </div>
        <div class="tracking">
          <div class="tacking-heading">
            <ion-title>tracking status</ion-title>
          </div>

       
          <div class="boleto__wrapper boleto__wrapper--tracking-progress-bar">

            <div class="tracking-progress-bar">
              <div
                class="tracking-progress-bar__item tracking-progress-bar__item--first tracking-progress-bar__item--active">
                1</div>

              <span class="tracking-progress-bar__item__bar tracking-progress-bar__item__bar--active"></span>
              <div class="tracking-progress-bar__item tracking-progress-bar__item--active">2</div>

              <span class="tracking-progress-bar__item__bar"></span>
              <div class="tracking-progress-bar__item">3</div>

              <span class="tracking-progress-bar__item__bar"></span>
              <div class="tracking-progress-bar__item">4</div>
            </div>

            <div class="tracking-oder-labels">
              <div class="one">oder recieved</div>
              <div class="two">being prepared</div>
              <div class="three">oder is ready</div>
              <div class="four">delivered</div>
            </div>

          </div>


        </div>
      </div>
      <div class="item-dsiplay">
        <div>
          <div class="content">
            <div class="image-section">


              <div class="image-container">


               
                <img src="https://i.pinimg.com/564x/26/9a/b0/269ab05197cf877c8f075265b0b159af.jpg" width="100%" height="100%" alt="">
              </div>
            </div>
            <div class="product-details">
              <div class="firstItems">
                <div class="product-name">
                  <ion-label>Product Name :Cream lime vase </ion-label>
                </div>
               
              </div>
              <div class="productcode">
                <div>
                  <ion-label> Code: JKH74893234895</ion-label>
                </div>
                 <div class="product-price">
                  <ion-label>amount : R 2 345 </ion-label>

                </div>
    
              </div>
              <div class="productDescription">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
                  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                  sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                   rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                </p>
              </div>
              <div class="pdf">
                <ion-button color="primary" expand="block">send reciept Pdf</ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
