<!-- <div class="loader-container" *ngIf="loader">
  <div class="loader">Loading...</div>
</div>

<ion-content>
    <div class="content-container">
        <div class="categorySection animated fadeInDown 2s "  >
          <div class=" categoryList">
            <div class="cards-container" >
             
              <div  class="products-section" *ngFor="let event of Products">
              <div *ngIf="Products" class="cards ">
                <div class="percent-off" >
                  <p>{{event.obj.percentage}} %</p>

                </div>
            
                <img class="animated fadeInDown 2s" src="{{event.obj.image}}" width="222" height="268" (click)=" createViewProduct(event)" alt="">
                <ion-label class="price">R &nbsp; {{event.obj.totalPrice}} &nbsp; <span class="span-tsrike" >R &nbsp; {{event.obj.price}}</span> </ion-label>
                <ion-label class="name"> {{event.obj.name}} </ion-label>
                <div class="stars">
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star-half" color="warning"></ion-icon>
                  <ion-icon name="star-outline" color="warning"></ion-icon>
                </div>
                <div class="icon-wish" (click)="addToWishlist(event.obj, event.id)">
                  <ion-icon name="heart" ></ion-icon>
                </div>
                
              </div> 
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="IDofYourDivYouWantToGoTo" class="contactUs-section"> 
        <div>
          <ion-title>Contact Us</ion-title>
        </div>
        <div class="contactus">
          <div class="contactUs-labels">
            <div >
              <ion-label class="heading2">Find Us</ion-label>
              <div *ngFor = "let admin of Info" class="callUs-labels">
                <div>
                  <span>
                    <ion-icon padding name="call"></ion-icon>
                  </span>
                  <span>
                    <ion-label>{{admin.phoneNumber}} </ion-label>
                  </span>
                </div>
                <div>
                  <span>
                    <ion-icon padding name="mail"></ion-icon>
                  </span>
                  <span>
                    <ion-label>{{admin.email}}</ion-label>
                  </span>
                  <div class="social-section" >
    
                    <div class="social" >
                      <div> <img padding src=".././../assets/icons8_facebook_480px.png" width="30" height="30" > </div>
                      <div> <img padding src="../../assets/icons8_twitter_circled_60px_2.png" width="30" height="30" ></div>
      
      
                    </div>
                  </div>
    
                </div>
              </div>
            </div>
            <div >
              <ion-label class="heading1">Visit Us</ion-label>
              <div *ngFor = "let admin of Info" class="callUs-labels">
        
                <div>
                  <span>
                    <ion-icon padding name="pin"></ion-icon>
                  </span>
                  <span>
                    <ion-label>{{admin.address}}</ion-label>
                  </span>
                </div>
              </div>
            </div>
            <div >
              <ion-label class="heading">Quick Links </ion-label>
              <div *ngFor = "let admin of Info" class="callUs-labels">
            
        
                <div>
                  <span (click)="createFaqs()">
                    <li>
                        <ion-label>FAQ's</ion-label>
                  </li>
                
                  </span>
                  <span (click)="TermsAndConditions()" >
                    <li>
                       <ion-label>Terms & Conditions</ion-label>
                    </li>
                   
                  </span> 
                  <span (click)=" PrivacyPolicy()" >
                    <li>
                       <ion-label>Privacy Policy</ion-label>
                    </li>
                   
                  </span>
                </div>
              </div>
            </div>
          
            
          </div>
        </div>
        <ion-toolbar color="primary">
          <div class="footer">
            <img src="../../assets/Group 60.png" width="100px" height="50px" alt="">
            <div>
              &copy; Pitseng Arts &amp; Crafts 2019
            </div>
          </div>
        </ion-toolbar>
      </div> 
</ion-content> -->

<div class="loader-container" *ngIf="loader">
  <div class="loader">Loading...</div>
</div>

<ion-content>
    <div class="content-container">
          <!-- view by categories section -->
        <div class="categorySection animated fadeInDown 2s "  >
          <div class=" categoryList">
            <div class="cards-container" >
             
              <div  class="products-section" *ngFor="let event of Products">
              <div *ngIf="Products" class="cards ">
                <div class="percent-off" >
                  <p>{{event.obj.percentage}} %</p>

                </div>
            
                <img class="animated fadeInDown 2s" src="{{event.obj.image}}" width="222" height="268"  alt="">
                <ion-label class="price">R &nbsp; {{event.obj.totalPrice}} &nbsp; <span class="span-tsrike" >R &nbsp; {{event.obj.price}}</span> </ion-label>
                <ion-label class="name"> {{event.obj.name}} </ion-label>
                
                

                <div class="icon-wish" (click)='deleteItem(event)'>
                  <ion-icon name="trash" ></ion-icon>
                </div>
                
              </div> 
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="IDofYourDivYouWantToGoTo" class="contactUs-section"> 
        
    
        <ion-toolbar color="primary">
          <div class="footer">
            <img src="../../assets/Group 60.png" width="100px" height="50px" alt="">
            <div>
              &copy; Pitseng Arts &amp; Crafts 2019
            </div>
          </div>
        </ion-toolbar>
      </div> 
</ion-content>