
<ion-header>
  <ion-toolbar color="primary"  *ngIf="!myProduct" >
    <ion-title>
      <div class="title">
        <div class="text">Special Up to 75%</div>
        <div>
          <ion-button fill="outline" color="light" (click)="Allspecials()"> Check Specials </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
  <div class="navigation-bar">

    <div class="nav">

      <img src="../../assets/Group 60.png" alt="" (click)="openHome()" class="logo">
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">

       

        <ion-button class="item" color="medium" fill="clear" (click)="openPro()" slot="end">Home</ion-button>
        <ion-button class="item" color="medium" fill="clear" (click)="openInvoice()" slot="end">Orders</ion-button>
        <ion-button class="item" color="medium" fill="clear" slot="end" (click)="queries()">Queries</ion-button>
        <ion-button class="item" color="medium" fill="clear" slot="end" (click)="openAboutUS()">About Us </ion-button>
        <ion-button class="item" color="medium" fill="clear" slot="end" (click)="createFaqs()">FAQ's</ion-button>
        <ion-button class="item" color="medium" fill="clear" slot="end" (click)="addProduct()"><ion-icon name="add"></ion-icon>Product</ion-button>

        <ion-button class="item" color="medium" fill="clear" slot="end">
          <div>
          <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" 
             (ionCancel)='isSearchbarOpened=false' placeholder="Search Products" [(ngModel)]='myDest' (ionChange)='SearchProducts($event);' value="" style='min-width: 10px;'>
          </ion-searchbar>
        
          <ion-list [style.display]="!myDest ? 'none' : 'block'" class="list" [hidden]="autocompleteItemz.length == 0">
            <div *ngIf="autocompleteItemz.length > 0">
              <ion-item  *ngFor="let item of autocompleteItemz" tappable id="submit"
                (click)="createViewProduct(item.obj, item.key)">
                <ion-avatar>
                  <img src="{{item.obj.image}}" alt="" height="500px" width="500px">
                </ion-avatar>
                <ion-label color="medium" padding> {{ item.obj.name }}</ion-label>
              </ion-item>
            </div>
          </ion-list>
          <div no-padding fill="clear" class="search" lines="none" *ngIf="!isSearchbarOpened">
            
              <ion-icon slot="icon-only" color="medium" name="search" (click)="isSearchbarOpened=true"></ion-icon>
            
          </div>
          </div></ion-button>
          <!-- <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionClear)="removeSearchList()"
            (ionClear)="resetChanges()" (ionCancel)='isSearchbarOpened=false' placeholder="Search Products" [(ngModel)]='myDest' value="" style='min-width: 10px;'>
          </ion-searchbar>
          <ion-list [style.display]="!myDest ? 'none' : 'block'" class="list" [hidden]="autocompleteItemz.length == 0">
            <div *ngIf="autocompleteItemz.length > 0">
              <ion-item  *ngFor="let item of autocompleteItemz" tappable id="submit"
                (click)="ViewDetails(item)">
                <ion-avatar>
                  <img src="{{item.obj.image}}" alt="" height="500px" width="500px">
                </ion-avatar>
                <ion-label color="medium" padding> {{ item.obj.name }}</ion-label>
              </ion-item>
            </div>
          </ion-list>
   -->
    
    
        
      
       
        <ion-button class="item" color="medium" fill="clear" slot="end" (click)="presentPopover($event)"><ion-icon name="person"></ion-icon></ion-button>



      </div>
    </div>
  </div>


</ion-header>