<div class="content">

  <button (click)="save()">Save</button>
  <button (click)="Pull()">Pull</button>

    <div class="row">
      <div class=" sidebar1  ">
        <div class="logo">
          <img src="../../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="80" height="80">
        </div>
        <br>
        <div class="left-navigation">
          <div class="list">
  
            <ion-button expand="clear" color="light" (click)="openPro()" slot="end">Home</ion-button>
            <br>
            <ion-button expand="clear" color="light" (click)="openInvoice()" slot="end">Invoices</ion-button>
            <br>
            <ion-button expand="clear" color="light" (click)="logOut()" slot="end">Logout</ion-button>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="navigation_bar">
          <div class="navigation_bar">
            <div class="navBarItems">
              <div class="searchBar">
                <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionClear)="removeSearchList()"
                  (ionCancel)='isSearchbarOpened=false' showCancelButton="focus" cancelButtonText="Custom Cancel">
                </ion-searchbar>
                <ion-item class="search" lines="none" *ngIf="!isSearchbarOpened">
                  <ion-button fill="clear" color="light" slot="end" (click)="isSearchbarOpened=true">
                    <ion-icon slot="icon-only" name="search"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
  
              <div class="profileBar">
                <ion-button fill="clear" color="light" (click)="openProfile()" slot="end">
                  <ion-icon slot="icon-only" name="contact"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="itemsContainer">
        <div class="itemsDetails">
          <div class="filterContiner">
            <ion-item>
              <ion-label><ion-icon name="funnel"></ion-icon> &nbsp; Orders</ion-label>
              <ion-select interface="popover">
                <ion-select-option value="nes">Not Paid</ion-select-option>
                <ion-select-option value="n64">Paid</ion-select-option>

              </ion-select>
            </ion-item>
          </div>
          <div class="invoicesContainer">
            <ion-card (click)=viewDetails() >
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>
            <ion-card>
              <div class="invoicesList">
                <div>
                  <ion-label> Smith Hall </ion-label>
                </div>
                <div>
                  <ion-label>INV/01/1002</ion-label>
                </div>
                <div>
                  <ion-label>8/NOV/2019</ion-label>
                </div>
              </div>
            </ion-card>


          </div>
  
        </div>
      </div>
    </div>