<div class="navigation_bar">
  <div class="left-icons" >
    <ion-button fill="clear" color="light" (click)="openHome()" slot="end">Home</ion-button>
    <ion-button  fill="clear" color="light"(click)="openProfile()" slot="end">Profile</ion-button>
    <ion-button fill="clear" color="light" (click)="openUploads()" slot="end">Add Product</ion-button>
    <ion-button fill="clear" color="light" (click)="openInvoice()" slot="end">Invoices</ion-button>
  </div>
  
    <div class="avatar-image" >
     
      <img src="../../../assets/1.PNG" class="logo">
    
    </div>
    
    
 <div class="right-icons" >
    <ion-button fill="clear" color="light" (click)="openUploads()" slot="end">
        <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-button fill="clear"  color="light" 	 (click)="openInvoice()" slot="end">
       <ion-icon slot="icon-only" name="home"></ion-icon>
       </ion-button>
 </div>
  
</div>

<ion-content>
  <div class="mainContainer">
    <!-- <div class="productTitle" >
    <ion-item *ngFor="let item of items">
      {{ item.title }}
    </ion-item>
    </div> -->



  <div class="categories-block"  *ngFor="let event of Products" >
      <!-- <ion-row no-padding class="categories-banner">
          <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
              {{event.obj.categories }}<br>
          </ion-col>
      </ion-row> -->      
              <div *ngIf="myProduct" class="myProduct" >
                <div>
                  
                </div>
                  <ion-card no-padding >
                      <ion-card-header no-padding (click)="ViewDetails(event)">
                          <ion-card-title no-padding >
                            <img src="{{event.obj.image}}" alt="" class="image" >
                          </ion-card-title>
                          <ion-card-content >
                            <span><h2>{{event.obj.name}}</h2></span> 
                            <span> <p>R{{event.obj.price}}</p> </span>
                           
                          </ion-card-content>
                      </ion-card-header>
                  </ion-card>
              </div>
  </div>
</div>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-title color="light" size="small" >  @ 2019  Pitseng Arts and Crafts.  All right reserved. Privacy Policy</ion-title>
    </ion-toolbar>
  </ion-footer>



