<ion-header>
  <ion-toolbar>
      <!-- <ion-searchbar
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionChange)="setFilteredItems()"
      (ionCancel)="onCancel($event)">
    </ion-searchbar> -->
   

      <ion-button (click)="openHome()" slot="end">Home</ion-button>
      <ion-button (click)="openProfile()" slot="end">Profile</ion-button>
      <ion-button (click)="openUploads()" slot="end">Add Product</ion-button>
      <ion-button (click)="openInvoice()" slot="end">Invoices</ion-button>
      <ion-button (click)="logOut()" slot="end">Logout</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
    <!-- <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item.title }}
        </ion-item>
      </ion-list>     -->
<!-- 
      <input type="text" [(ngModel)]="data">
      <button (click)="search()">Search</button> -->


      <ion-searchbar (ionChange)="onSearchTerm($event)" placeholder="Search an item"></ion-searchbar>
  <ion-list>
    <div *ngIf="items.length > 0; else noItems">
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
    </div>
    <ng-template #noItems>
      <ion-item>
        <!-- No items found. -->
      </ion-item>
    </ng-template>
  </ion-list>
  
  <div class="categories-block"  *ngFor="let event of Products" >
      <ion-row no-padding class="categories-banner">
          <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
              {{event.categories }}<br>
          </ion-col>
      </ion-row>

      <ion-slides [options]="sliderConfig">
          <ion-slide >
              <div *ngIf="myProduct">
                  <ion-card >
                      <ion-card-header (click)="ViewDetails(event)">
                          <ion-card-title>
                            <img src="{{event.image}}" alt="" height="300" width="300">
                          </ion-card-title>
                          <ion-card-content>
                            {{event.name}} <br>
                            R{{event.price}}
                          </ion-card-content>
                      </ion-card-header>
                  </ion-card>
              </div>
          </ion-slide>
      </ion-slides>
  </div>
</ion-content>



