<ion-header>
  <ion-toolbar>
    <!-- <ion-toolbar>
      <ion-searchbar [formControl]="searchControl"  [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
    </ion-toolbar>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div> -->
      <ion-button (click)="openHome()" slot="end">Home</ion-button>
      <ion-button (click)="openProfile()" slot="end">Profile</ion-button>
      <ion-button (click)="openUploads()" slot="end">Add Product</ion-button>
      <ion-button (click)="openInvoice()" slot="end">Invoices</ion-button>
      <ion-button (click)="logOut()" slot="end">Logout</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item.title }}
    </ion-item>
  </ion-list>
  <div class="categories-block"  *ngFor="let event of Products" >
      <ion-row no-padding class="categories-banner">
          <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
              {{event.obj.categories }}<br>
          </ion-col>
      </ion-row>

      <ion-slides [options]="sliderConfig">
          <ion-slide >
              <div *ngIf="myProduct">
                  <ion-card >
                      <ion-card-header (click)="ViewDetails(event)">
                          <ion-card-title>
                            <img src="{{event.obj.image}}" alt="" height="300" width="300">
                          </ion-card-title>
                          <ion-card-content>
                            {{event.obj.name}} <br>
                            R{{event.obj.price}}
                          </ion-card-content>
                      </ion-card-header>
                  </ion-card>
              </div>
          </ion-slide>
      </ion-slides>
  </div>
</ion-content>



