<!-- <div class="loader-container" *ngIf="loader">
  <div class="loader">Loading...</div>
</div> -->

<ion-content>
    <div class="content-container" >
          <!-- view by categories section -->
        <div class="categorySection animated fadeInDown 2s "  >
          <div class=" categoryList">
            <div class="cards-container" >
             
              <div  class="products-section" *ngFor="let event of Deco; let i=index;">
              <div  class="cards"(click)=" createViewProduct(event.data, event.key)"   [ngClass]="{'active': active==i}" (click)="showList(i)" >
                <img class="animated fadeInDown 2s" src="{{event.data.image}}" alt="">
                <ion-label class="name"> {{event.data.name}} </ion-label>
                <ion-label class="price">R&nbsp;{{event.data.price}}</ion-label>
              
                <div class="stars">
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star-half" color="warning"></ion-icon>
                  <ion-icon name="star-outline" color="warning"></ion-icon>
                </div>
              </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="Deco.length == 0" class="empty" >
        <ion-title >This product is not available  currently.</ion-title>
      </div>
</ion-content>
